# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/

# React Native
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/

# Mac
.DS_Store

# Logs
*.log

# Env
.env

# IDE
.vscode/
.idea/

# Metro
.metro-health-check*

# Bundle
*.bundle

# Gradle
*.keystore

# Temporary
tmp/
temp/
